__pycache__/
*.py[cod]
.venv/
.env
comfyui/models/
comfyui/output/
.DS_Store

.vscode/settings.json

# Terraform
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup